*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 10px;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}

ul {
  list-style: none;
}

a:link,
a:visited {
  text-decoration: none;
}

@media (max-width: 26.57em) {
  html {
    font-size: 55%;
  }
}
